@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 col-sm-12 col-xs-12">
    @{Html.RenderPartial("CommonPartial/CommonBoxPartial");}
</div>



@section scripts{
    @Scripts.Render("~/bundles/dashboard")
}