@{
    Layout = "~/Views/Shared/_Layout_v1.cshtml";
}
<div class="row row-broken">
    <div class="col-sm-6 col-md-4 col-lg-2 small-widget md-margin sm-margin xs-margin left-md m-t-md">
        <div id="ultra1" class="decor-default inform inform-view-1 inform-1">
            <div class="inform-value">400</div>
            <div class="inform-name">Mentioned</div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 small-widget md-margin sm-margin m-t-md">
        <div id="ultra2" class="decor-default inform inform-view-1 inform-2">
            <div class="inform-value">13140 $</div>
            <div class="inform-name">Today Sales</div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 small-widget md-margin left-md m-t-md p-r-none">
        <div id="ultra3" class="decor-default inform inform-view-1 inform-3">
            <div class="inform-value">9001</div>
            <div class="inform-name">Today Visitors</div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 small-widget md-margin ultra-md m-t-md">
        <div id="ultra4" class="decor-default inform inform-view-1 inform-4">
            <div class="inform-value">350</div>
            <div class="inform-name">New message</div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 small-widget left-md md-margin ultra-md m-t-md">
        <div id="ultra5" class="decor-primary inform inform-view-2">
            <div class="inform-value">74%</div>
            <div class="inform-name">Loaded</div>
            <div id="inform-1" class="inform-canvas" data-percent="74">74%</div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 small-widget md-margin ultra-md m-t-md">
        <div id="ultra6" class="decor-info inform inform-view-2">
            <div class="inform-value">46%</div>
            <div class="inform-name">New users</div>
            <div id="inform-2" class="inform-canvas" data-percent="46">46%</div>
        </div>
    </div>
</div>

<div class="row row-broken" data-height>
    <div class="col-sm-12 col-md-6">
        <div class="decor-default chart content-block" data-height-col>
            <div class="p-full-md">
                <h6 class="m-r-md m-b-md pull-left">
                    Energy predicrions
                </h6>
                <div class="setting f-r">
                    <span class="refresh-btn"><i class="fa fa-refresh"></i></span>
                    <span class="setting-btn"><i class="fa fa-cog"></i></span>
                    <ul class="setting-popup">
                        <li>setting 1</li>
                        <li><a href="index.html#">setting 2</a></li>
                        <li>setting 3</li>
                        <li>setting 4</li>
                        <li>setting 5</li>
                    </ul>
                    <span class="close-block text-center"><i class="fa fa-close"></i></span>
                </div>
                <div class="clearfix"></div>
                <div class="chart-statistics">
                    <p>Quisque volutpat condimentum velit. Class aptent taciti</p>
                    <span class="up color-primary f-l">10.360</span>
                    <span class="line color-warning f-r">total visitor <span>26.349</span></span>
                    <span class="line color-success f-r f-c">total orders <span>16.349</span></span>
                    <span class="line color-primary f-r f-c">new orders <span>16.349</span></span>
                </div>
            </div>
            <div class="chart-container full">
                <canvas id="chartLine"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="decor-default chart content-block p-full-md" data-height-col>
            <h6 class="m-r-md m-b-md pull-left">
                Logarithmic Axis
            </h6>
            <div class="setting f-r">
                <span class="refresh-btn"><i class="fa fa-refresh"></i></span>
                <span class="setting-btn"><i class="fa fa-cog"></i></span>
                <ul class="setting-popup">
                    <li>setting 1</li>
                    <li><a href="index.html#">setting 2</a></li>
                    <li>setting 3</li>
                    <li>setting 4</li>
                    <li>setting 5</li>
                </ul>
                <span class="close-block text-center"><i class="fa fa-close"></i></span>
            </div>
            <div class="clearfix"></div>
            <div class="chart-statistics">
                <span class="line color-warning f-r">total visitor <span>26.349</span></span>
                <span class="line color-primary f-r f-c">new orders <span>16.349</span></span>
            </div>
            <div class="chart-container absolute">
                <canvas id="chartBar"></canvas>
            </div>
        </div>
    </div>
</div>


<div class="row row-broken">
    <div class="col-md-8">
        <div class="decor-default info-tables">
            <h6 class="p-full-md">
                Marketing campaings
                <span class="label label-alt label-success pull-right">28 active</span>
            </h6>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pull-left m-r-md">
                        <span id="sparkpie" class="sparkpie"></span>
                    </div>
                    <div class="f-14">
                        <span class="numbers"><strong class="f-18">40,556</strong><span class="color-primary"><i class="fa fa-chevron-up"></i><strong>(+ 15.5%)</strong></span></span><br>
                        <span><span class="dot dot-primary"></span>Feb 06, 18:22am 2016</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pull-left m-r-md">
                        <span id="sparkpie2" class="sparkpie"></span>
                    </div>
                    <div class="f-14">
                        <span class="numbers"><strong class="f-18">30,226</strong><span class="color-danger"><i class="fa fa-chevron-up"></i><strong>(+ 15.5%)</strong></span></span><br>
                        <span><span class="dot dot-danger"></span>Feb 26, 22:22am 2016</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="text-right">
                        <a href="index.html#" class="btn btn-lg btn-info">View</a>
                    </div>
                </div>
            </div>
            <div class="info-tables-container">
                <div class="table-responsive">
                    <table class="table table-condensed zero-m">
                        <thead>
                            <tr>
                                <th>Campaign</th>
                                <th>Client</th>
                                <th>Changes</th>
                                <th>Budget</th>
                                <th class="text-right">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="separator">
                                <td colspan="5">
                                    Today
                                    <span class="pull-right">
                                        7 February 2016
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack fa-lg pull-left f-21">
                                        <i class="fa fa-circle fa-stack-2x color-fb"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div>
                                        <span><strong>Facebook</strong></span><br>
                                        <span><span class="dot dot-primary"></span>06:00 - 08:00</span>
                                    </div>
                                </td>
                                <td>Mintlime</td>
                                <td class="color-primary">+3.50%</td>
                                <td><strong>$7,750</strong></td>
                                <td class="text-right"><span class="label label-alt label-info">Active</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack fa-lg pull-left f-21">
                                        <i class="fa fa-circle fa-stack-2x color-youtube"></i>
                                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div>
                                        <span><strong>Youtube videos</strong></span><br>
                                        <span><span class="dot dot-danger"></span>06:00 - 08:00</span>
                                    </div>
                                </td>
                                <td>CDSoft</td>
                                <td class="color-primary">+3.15%</td>
                                <td><strong>$3,534</strong></td>
                                <td class="text-right"><span class="label label-alt label-danger">Closed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack fa-lg pull-left f-21">
                                        <i class="fa fa-circle fa-stack-2x color-spotify"></i>
                                        <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div>
                                        <span><strong>Spotify ads</strong></span><br>
                                        <span><span class="dot"></span>09:00 - 10:00</span>
                                    </div>
                                </td>
                                <td>Diligente</td>
                                <td class="color-danger">-7.05%</td>
                                <td><strong>$3,534</strong></td>
                                <td class="text-right"><span class="label label-alt label-default">Hold</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack fa-lg pull-left f-21">
                                        <i class="fa fa-circle fa-stack-2x color-twitter"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div>
                                        <span><strong>Twitter ads</strong></span><br>
                                        <span><span class="dot"></span>09:00 - 10:00</span>
                                    </div>
                                </td>
                                <td>Deluxe</td>
                                <td class="color-success">4.58%</td>
                                <td><strong>$2,534</strong></td>
                                <td class="text-right"><span class="label label-alt label-default">Hold</span></td>
                            </tr>
                            <tr class="separator">
                                <td colspan="5">
                                    Yesterday
                                    <span class="pull-right">
                                        6 February 2016
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack fa-lg pull-left f-21">
                                        <i class="fa fa-circle fa-stack-2x color-github"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div>
                                        <span><strong>Github</strong></span><br>
                                        <span><span class="dot dot-success"></span>09:00 - 10:00</span>
                                    </div>
                                </td>
                                <td>Metrics</td>
                                <td class="color-danger">-7.05%</td>
                                <td><strong>$950</strong></td>
                                <td class="text-right"><span class="label label-alt label-success">Pending</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack fa-lg pull-left f-21">
                                        <i class="fa fa-circle fa-stack-2x color-amazon"></i>
                                        <i class="fa fa-amazon fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div>
                                        <span><strong>Amazon ads</strong></span><br>
                                        <span><span class="dot dot-danger"></span>09:00 - 10:00</span>
                                    </div>
                                </td>
                                <td>Blueish</td>
                                <td class="color-success">5.05%</td>
                                <td><strong>$1,950</strong></td>
                                <td class="text-right"><span class="label label-alt label-info">Active</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa-stack fa-lg pull-left f-21">
                                        <i class="fa fa-circle fa-stack-2x color-dribbble"></i>
                                        <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <div>
                                        <span><strong>Dribbble ads</strong></span><br>
                                        <span><span class="dot dot-info"></span>09:00 - 10:00</span>
                                    </div>
                                </td>
                                <td>Teamable</td>
                                <td class="color-danger">-8.05%</td>
                                <td><strong>$5,980</strong></td>
                                <td class="text-right"><span class="label label-alt label-danger">Closed</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="decor-default">
            <h6 class="p-full-md">
                Messages
                <span class="pull-right">
                    <small class="hidden-xs">Feb 06, 22:22am</small>
                    <span class="label label-alt label-success m-l-md">23 active</span>
                </span>
            </h6>

            <div class="message-stats clearfix">
                <div>
                    <span class="f-18"><i class="fa fa-calendar-o color-primary"></i> <strong>652</strong></span><br>
                    <span class="f-14">this week</span>
                </div>
                <div>
                    <span class="f-18"><i class="fa fa-calendar-check-o color-primary"></i> <strong>3,244</strong></span><br>
                    <span class="f-14">this month</span>
                </div>
                <div>
                    <span class="f-18"><i class="fa fa-file-text color-primary"></i> <strong>22,100</strong></span><br>
                    <span class="f-14">all messages</span>
                </div>
            </div>

            <div class="chart-container min">
                <canvas id="chartLine2"></canvas>
            </div>

            <div class="message-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="index.html#tue" aria-controls="tue" role="tab" data-toggle="tab">Tuesday</a></li>
                    <li role="presentation"><a href="index.html#mon" aria-controls="mon" role="tab" data-toggle="tab">Monday</a></li>
                    <li role="presentation"><a href="index.html#fri" aria-controls="fri" role="tab" data-toggle="tab">Friday</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tue">
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40.png" class="img-circle" alt="avatar"><span class="message-count decor-danger">9</span></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Alexander Herthic</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"><span class="message-count decor-danger">7</span></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">12:05</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="mon">
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40.png" class="img-circle" alt="avatar"><span class="message-count decor-danger">6</span></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Alexander Herthic</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"><span class="message-count decor-danger">2</span></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">12:05</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="fri">
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40.png" class="img-circle" alt="avatar"><span class="message-count decor-danger">3</span></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Alexander Herthic</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"><span class="message-count decor-danger">4</span></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">12:05</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                        <a href="index.html#" class="item clearfix">
                            <div class="pull-left img-container"><img src="/Content/default/img/images/profile/40-2.png" class="img-circle" alt="avatar"></div>
                            <div class="f-14  message-excerpt">
                                <span class="color-info "><strong>Katerina Angintiew</strong></span><span class="pull-right">15:50</span><br>
                                Lorem ipsum dolor sit amet, consectetur.
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row row-broken" data-height>
    <div class="col-md-4">
        <div class="decor-default" data-height-col>
            <h6 class="p-full-md">
                Members
            </h6>
            <div class="p-r-md p-l-md p-b-md members-widget">
                <a href="profile.html" class="clearfix">
                    <div class="profile-avatar pull-left">
                        <img src="/Content/default/img/images/profile/64.png" alt="image" class="img-circle">
                        <span class="online"></span>
                    </div>
                    <div>
                        <strong>Alexander Herthic</strong><br>
                        Musician, Player
                    </div>
                </a>

                <a href="profile.html" class="clearfix">
                    <div class="profile-avatar pull-left">
                        <img src="/Content/default/img/images/profile/64-2.png" alt="image" class="img-circle">
                        <span class="online"></span>
                    </div>
                    <div>
                        <strong>Katya Angintiew</strong><br>
                        Blogger
                    </div>
                </a>

                <a href="profile.html" class="clearfix">
                    <div class="profile-avatar pull-left">
                        <img src="/Content/default/img/images/profile/64.png" alt="image" class="img-circle">
                        <span class="danger"></span>
                    </div>
                    <div>
                        <strong>Alexander Herthic</strong><br>
                        Writter
                    </div>
                </a>

                <a href="profile.html" class="clearfix">
                    <div class="profile-avatar pull-left">
                        <img src="/Content/default/img/images/profile/64-2.png" alt="image" class="img-circle">
                        <span class="danger"></span>
                    </div>
                    <div>
                        <strong>Katya Angintiew</strong><br>
                        Designer
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="decor-default" data-height-col>
            <h6 class="p-full-md">
                Tasks <br>
                <small>17 finished, 7 remaining</small>
            </h6>
            <div class="p-r-md p-l-md p-b-md">
                <ul class="task-widget">
                    <li>7:30 <br> Lorem ipsum <a href="index.html#"><strong>dolor</strong></a> sit amet, consectetur.</li>
                    <li><span class="dot dot-info"></span>7:30 <br> Lorem ipsum dolor sit amet, consectetur.</li>
                    <li><span class="dot dot-danger"></span>7:30 <br> <a href="index.html#"><strong>Lorem ipsum</strong></a> dolor sit amet, <a href="index.html#"><strong>consectetur</strong></a>.</li>
                    <li class="zero-p"><span class="top"></span></li>
                    <li class="zero-p"><span class="bottom"></span></li>
                </ul>
                <div class="clearfix task-btns">
                    <button type="button" class="btn btn-default" onClick="window.location.reload()">More</button>
                    <button type="button" class="btn btn-warning" onClick="window.location.reload()">Add one</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="decor-default" data-height-col>
            <h6 class="p-full-md">
                <span class="label label-alt label-success pull-right">7</span>
                Activity <br>
                <small>15 members update their activities</small>
            </h6>
            <div class="p-r-md p-l-md p-b-md activity-widget">
                <ul class="task-widget">
                    <li>
                        <img src="/Content/default/img/images/profile/40.png" alt="image" class="img-circle">
                        <span class="color-primary"><strong>Alexander Herthic</strong></span> 5 min ago <br>
                        Writter, Mag Editor
                    </li>
                    <li>
                        <img src="/Content/default/img/images/profile/40-2.png" alt="image" class="img-circle">
                        <span class="color-primary"><strong>Katya Angintiew</strong></span> 13 min ago <br>
                        Blogger
                    </li>
                    <li>
                        <img src="/Content/default/img/images/profile/40.png" alt="image" class="img-circle">
                        <span class="color-primary"><strong>Alexander Herthic</strong></span> 35 min ago <br>
                        Musician
                    </li>
                </ul>
                <button type="button" class="btn btn-default" onClick="window.location.reload()">More</button>
            </div>
        </div>
    </div>
</div>


<div class="row row-broken" data-height>
    <div class="col-md-6">
        <div class="decor-default" data-height-col>
            <h6 class="p-full-md">
                Open Project <span class="label label-alt label-danger pull-right">9</span><br>
                <small>Your data status</small>
            </h6>
            <div class="p-r-md p-l-md p-b-md">
                <div class="project-item clearfix">
                    <div class="project-item-tag decor-primary pull-left">
                        <i class="fa fa-google fa-inverse"></i>
                    </div>
                    <div class="f-14 pull-left">
                        <strong>Broadcast web app mockup</strong><br>
                        5 tasks, 3 issues
                    </div>
                    <div class="pull-right">
                        <a href="index.html#" class="btn btn-lg btn-success hidden-xs">Manage</a>
                        <a href="index.html#" class="edit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
                <div class="project-item clearfix">
                    <div class="project-item-tag decor-success pull-left">
                        <i class="fa fa-steam fa-inverse"></i>
                    </div>
                    <div class="f-14 pull-left">
                        <strong>Steam for Android</strong><br>
                        35 tasks, 6 issues
                    </div>
                    <div class="pull-right">
                        <a href="index.html#" class="btn btn-lg btn-success hidden-xs">Manage</a>
                        <a href="index.html#" class="edit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
                <div class="project-item clearfix">
                    <div class="project-item-tag decor-warning pull-left">
                        <i class="fa fa-hashtag fa-inverse"></i>
                    </div>
                    <div class="f-14 pull-left">
                        <strong>#Hashtag android app</strong><br>
                        52 tasks, 13 issues
                    </div>
                    <div class="pull-right">
                        <a href="index.html#" class="btn btn-lg btn-success hidden-xs">Manage</a>
                        <a href="index.html#" class="edit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
                <div class="project-item clearfix">
                    <div class="project-item-tag decor-info pull-left">
                        <i class="fa fa-pinterest fa-inverse"></i>
                    </div>
                    <div class="f-14 pull-left">
                        <strong>Pinterest campaign</strong><br>
                        6 tasks, 23 issues
                    </div>
                    <div class="pull-right">
                        <a href="index.html#" class="btn btn-lg btn-success hidden-xs">Manage</a>
                        <a href="index.html#" class="edit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
                <div class="project-item clearfix">
                    <div class="project-item-tag decor-info pull-left">
                        <i class="fa fa-facebook fa-inverse"></i>
                    </div>
                    <div class="f-14 pull-left">
                        <strong>Facebook application</strong><br>
                        30 tasks, 5 issues
                    </div>
                    <div class="pull-right">
                        <a href="index.html#" class="btn btn-lg btn-success hidden-xs">Manage</a>
                        <a href="index.html#" class="edit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="decor-default" data-height-col>
            <h6 class="p-full-md">
                Recent orders <a href="index.html#" class="label label-alt label-success pull-right no-decor">View all</a><br>
                <small>Use the button on element</small>
            </h6>
            <div class="p-r-md p-l-md p-b-md">
                <div class="table-responsive">
                    <table class="table table-condensed zero-m">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th><strong>Item Name</strong></th>
                                <th><strong>Up-Down</strong></th>
                                <th class="text-right"><strong>Manage</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span id="sparkchart-3"></span>
                                </td>
                                <td class="text-center"><img src="/Content/default/img/iphone.png" alt="iphone"></td>
                                <td>Apple Iphone</td>
                                <td class="color-success">$400</td>
                                <td class="text-right manage-orders">
                                    <a href="index.html#"><i class="fa fa-pencil"></i></a>
                                    <a href="index.html#"><i class="fa fa-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkchart-4"></span>
                                </td>
                                <td class="text-center"><img src="/Content/default/img/samsung.png" alt="samsung"></td>
                                <td>Samsung Phone</td>
                                <td class="color-danger">$450</td>
                                <td class="text-right manage-orders">
                                    <a href="index.html#"><i class="fa fa-pencil"></i></a>
                                    <a href="index.html#"><i class="fa fa-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkchart-5"></span>
                                </td>
                                <td class="text-center"><img src="/Content/default/img/lumia.png" alt="lumia"></td>
                                <td>Microsoft Lumia</td>
                                <td class="color-success">$150</td>
                                <td class="text-right manage-orders">
                                    <a href="index.html#"><i class="fa fa-pencil"></i></a>
                                    <a href="index.html#"><i class="fa fa-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkchart-6"></span>
                                </td>
                                <td class="text-center"><img src="/Content/default/img/macbook.png" alt="macbook"></td>
                                <td>Macbook Pro</td>
                                <td class="color-danger">$1400</td>
                                <td class="text-right manage-orders">
                                    <a href="index.html#"><i class="fa fa-pencil"></i></a>
                                    <a href="index.html#"><i class="fa fa-close"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-broken" data-height>
    <div class="col-sm-12 col-md-4">
        <div class="chart-mini chart-mini-3 decor-primary" data-height-col>
            <div class="legend-top p-full-md">
                <div class="name f-l">Eneergy Predictions</div>
                <div class="value f-r">$14.360</div>
                <div class="description f-c p-t-md">Last Sale 23.45 USD</div>
            </div>
            <div class="chart-container-mini">
                <canvas id="chart-mini-3" class="chart-body"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="chart-mini chart-mini-4 decor-success" data-height-col>
            <div class="legend-top p-full-md">
                <div class="name f-l">Eneergy Predictions</div>
                <div class="value f-r">$14.360</div>
                <div class="description f-c p-t-md">2% higher than last month</div>
            </div>
            <div class="chart-container-mini">
                <canvas id="chart-mini-4" class="chart-body"></canvas>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-4">
        <div class="chart-mini chart-mini-5 decor-warning" data-height-col>
            <div class="legend-top p-full-md">
                <div class="name f-l">Eneergy Predictions</div>
                <div class="value f-r">$14.360</div>
                <div class="description f-c p-t-md">2% higher than last month</div>
            </div>
            <div class="chart-container-mini full absolute">
                <canvas id="chart-mini-5" class="chart-body"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row row-broken" data-height>
    <div class="col-sm-12 col-md-6">
        <div class="decor-default chart content-block p-full-md" data-height-col>
            <h6 class="m-r-md m-b-md pull-left">
                Statistics
            </h6>
            <div class="setting f-r">
                <span class="refresh-btn"><i class="fa fa-refresh"></i></span>
                <span class="setting-btn"><i class="fa fa-cog"></i></span>
                <ul class="setting-popup">
                    <li>setting 1</li>
                    <li><a href="index.html#">setting 2</a></li>
                    <li>setting 3</li>
                    <li>setting 4</li>
                    <li>setting 5</li>
                </ul>
                <span class="close-block text-center"><i class="fa fa-close"></i></span>
            </div>
            <div class="clearfix"></div>
            <div class="chart-stat-1 p-full-md text-center">
                <div class="unit">
                    <div class="h">OVERALL VIEWS</div>
                    <h5 class="color-warning">$ 657,212</h5>
                    <h5 class="color-warning delta down">7%</h5>
                </div>
                <div class="unit">
                    <div class="h">MY BALANCE</div>
                    <h5 class="color-info">$ 657,212</h5>
                    <h5 class="color-info delta up">1%</h5>
                </div>
                <div class="unit">
                    <div class="h">NEW ORDERS</div>
                    <h5 class="color-primary">$ 65,721</h5>
                    <h5 class="color-primary delta up">44%</h5>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="chart-container absolute">
                <canvas id="cl1" class="view-2"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="decor-default chart content-block" data-height-col>
            <h6 class="m-r-md m-t-md m-b-md m-l-md pull-left">
                Energy Predictions
            </h6>
            <div class="setting f-r m-t-md m-r-md">
                <span class="refresh-btn"><i class="fa fa-refresh"></i></span>
                <span class="setting-btn"><i class="fa fa-cog"></i></span>
                <ul class="setting-popup">
                    <li>setting 1</li>
                    <li><a href="index.html#">setting 2</a></li>
                    <li>setting 3</li>
                    <li>setting 4</li>
                    <li>setting 5</li>
                </ul>
                <span class="close-block text-center"><i class="fa fa-close"></i></span>
            </div>
            <div class="clearfix"></div>
            <div class="chart-stat-2">
                <div class="unit">
                    Total usage
                    <h5 class="color-success">21,463 KB</h5>
                </div>
                <div class="unit">
                    Cerrently
                    <h5 class="color-primary">21,463 KB</h5>
                </div>
                <div class="unit">
                    Average
                    <h5 class="color-warning">21,463 KB</h5>
                </div>
                <br />
                <br />
                <br />
                <div class="unit-group">
                    <div class="unit">Mai App</div>
                    <div class="unit">234,678 uers are using</div>
                    <div class="unit">35,65 KB</div>
                </div>
                <div class="unit-group">
                    <div class="unit">Calendar</div>
                    <div class="unit">234,678 uers are using</div>
                    <div class="unit">35,65 KB</div>
                </div>
            </div>
            <div class="chart-container full">
                <canvas id="cl2" class="view-1"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row row-broken" data-height>
    <div class="col-sm-12 col-md-4">
        <div class="team decor-default p-full-md" data-height-col>
            <h6>Team</h6>

            <div class="team-body peppermint">
                <div class="list active">
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-3.png" alt="team" />
                        <span>Joh</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-8.png" alt="team" />
                        <span>Anna</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-4.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-7.png" alt="team" />
                        <span>Olga</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-4.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-6.png" alt="team" />
                        <span>Kate</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-3.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-5.png" alt="team" />
                        <span>Vicky</span>
                    </a>
                </div>
                <div class="list active">
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-3.png" alt="team" />
                        <span>Joh</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-8.png" alt="team" />
                        <span>Anna</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-4.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-7.png" alt="team" />
                        <span>Olga</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-4.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-6.png" alt="team" />
                        <span>Kate</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-3.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-5.png" alt="team" />
                        <span>Vicky</span>
                    </a>
                </div>
                <div class="list active">
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-3.png" alt="team" />
                        <span>Joh</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-8.png" alt="team" />
                        <span>Anna</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-4.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-7.png" alt="team" />
                        <span>Olga</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-4.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-6.png" alt="team" />
                        <span>Kate</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64-3.png" alt="team" />
                        <span>John</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/male/64.png" alt="team" />
                        <span>Gerard</span>
                    </a>
                    <a href="profile.html">
                        <img src="/Content/default/img/images/team/female/64-5.png" alt="team" />
                        <span>Vicky</span>
                    </a>
                </div>
            </div>

            <div class="team-nav">
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="developing p-full-md decor-default" data-height-col>
            <h6>Time to design</h6>
            <div class="field-group color-primary f-c">
                <div class="field-1 f-l">
                    23.4<sup>h</sup>
                    <div class="field-1-sub">Design</div>
                </div>
                <div class="field-2 f-r">
                    <span class="delta up">4%</span>
                    <div class="field-2-sub">above avg.</div>
                </div>
            </div>
            <div class="field-group color-warning f-c">
                <div class="field-1 f-l">
                    38<sup>h</sup>
                    <div class="field-1-sub">Front-end</div>
                </div>
                <div class="field-2 f-r">
                    <span class="delta down">7%</span>
                    <div class="field-2-sub">below avg.</div>
                </div>
            </div>
            <div class="field-group color-success f-c">
                <div class="field-1 f-l">
                    45.5<sup>h</sup>
                    <div class="field-1-sub">Back-end</div>
                </div>
                <div class="field-2 f-r">
                    <span class="delta down">2%</span>
                    <div class="field-2-sub">below avg.</div>
                </div>
            </div>
            <div class="field-group color-info f-c">
                <div class="field-1 f-l">
                    107<sup>h</sup>
                    <div class="field-1-sub">Total hours</div>
                </div>
                <div class="field-2 f-r">
                    <span class="delta up">1%</span>
                    <div class="field-2-sub">above avg.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4" data-height-col>
        <div class="weather view-2 decor-warning p-full-md">
            <div class="weather-location">Amman</div>
            <div class="weather-icon-name">Sunny</div>
            <canvas class="weather-icon" id="icon2" width="128" height="128"></canvas>
            <div class="weather-degree">44°</div>
        </div>
        <div id="calendar-mini" class="decor-default p-full-md m-t-md"></div>
    </div>
</div>