<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <add name="CarPark_WriteOnly" connectionString="server=192.168.11.242\sql2008r2;database=LGW_CarParking_I10_08605;user id=developer;password=p4ssw0rd" providerName="System.Data.SqlClient"/>
    <!--<add name="CarPark_WriteOnly" connectionString="server=10.84.1.220\inventiveit;database=LGW_CarParking_I10_08605;user id=sa;password=harveynash@123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
